
on:
  pull_request:
    types: [ closed ]

jobs:
  comment:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: add a comment
      uses: SophieHau/pr-comment-action@v24

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!
